<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div id="navbar-header">
      <%=link_to "sample app",root_path,id:"logo",class:"navbar-brand"%>
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Home",   root_path%></li>
        <li><%=link_to "Help",   help_path%></li>
        <li><%=link_to "Sign in",'#'%></li>
      </ul>
    </div>
  </div>
</nav>
